body {
    background-color: wheat;
    text-align: center;
}

main {
    background-color: rgb(245, 204, 129);
    padding: 10px;
    border: solid 15px rgb(78, 53, 6);
    margin: 4vh;
}

p {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

#title {
    color: wheat; 
    font-size: 50;
    background-color: rgb(180, 128, 32);
    padding: 2vw;
    margin: 5px;
}

iframe {
    background-color: rgb(114, 68, 26);
    padding: 2vw;
}

p a{
    font-size: 10px; 
}

a {
    border: solid 2px rgb(78, 53, 6);
    padding: 5px;
}

div {
    background-color: wheat;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}