@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100&family=Inspiration&family=Palette+Mosaic&display=swap');

/*
Tutorials
Book Flipping Effect: https://www.youtube.com/watch?v=CPRDd2fb9go
*/

/* 
*{
    margin: 0px; 
    padding: 0px; 
    font-family: 'Palette Mosaic', cursive;
} */

body{
    background: #ccd1e6;
}

/* Book */
.book{
    margin: 0px; 
    padding: 0px; 
    font-family: 'Palette Mosaic', cursive;

    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    
    display: flex; 
    align-items: center; 
    cursor: pointer;
    /* Perspective  */
    perspective: 1000px; /* tilt back*/
} 

.book:hover .cover{
    transform: rotateX(10deg) rotateY(-180deg);
}


.book:hover .page{
    transform: rotateX(10deg) rotateY(-180deg);
    z-index: 2; 
}



/* Cover Page */
.cover{
    z-index: 1;
    transition: all 3s;
}

.cover h1,
.last-page h1{
    text-align: center; 
    margin: 40px;
    font-size: 54px; 
    line-height: 2;
}

.cover h2{
    text-align: center; 
    margin: 20px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 40px; 
}


/* Back Cover Page */
.back-cover{
    z-index: -3;
}

.cover,
.back-cover{
    /* shape of the book cover */
    height: 520px; 
    width: 440px; 
    background: #404a70;
    background-image: linear-gradient(#546294,#514070);
    border-radius: 2px 20px 20px 2px; 
    position: absolute;
    box-shadow: 1px 1px 10px gray;
    /* Flipping Effect */
    transform: rotateX(10deg); /* tilt behind in 10 deg */
    transform-origin: center left; /* cover moves to left */
}

.page, 
.last-page{
    /* shape of the book pages */
    height: 480px; 
    width: 400px; 
    background: #ebeffc; 
    position: absolute; 
    border-radius: 4px 10px 10px 4px; 
   
    /* Flipping Effect */
    transform: rotateX(10deg);
    transform-origin: center left;
    z-index: -2;
}


/* Hover Off Transition */
.page:nth-child(2){
    transition-duration: 3s;
}
.page:nth-child(3){
    transition-duration: 2.6s;
}
.page:nth-child(4){
    transition-duration: 2.2s;
}
.page:nth-child(5){
    transition-duration: 1.8s;
}
.page:nth-child(6){
    transition-duration: 1.4s;
}


/* Hover On Transition*/
.book:hover .page:nth-child(2){
    transition-duration: 6s;
}
.book:hover .page:nth-child(3){
    transition-duration: 5.6s;
}

.book:hover .page:nth-child(4){
    transition-duration: 5.2s;
}

.book:hover .page:nth-child(5){
    transition-duration: 4.8s;
}

.book:hover .page:nth-child(6){
    transition-duration: 4.4s;
}


/* Characeter Cards */
.container{
    box-sizing: border-box;
    padding: 5px; 
    margin: 5px; 

    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.card{
    background: #ebeffc;
    width: 250px;
    height: 420px; 
    margin: 15px;
    padding: 5px; 
    border-radius: 14px;
}

.card h1{
    font-family: 'Inspiration', cursive;
    font-size: 32px;
}

.card-img{
    background-color: aqua;
    height: 280px; 
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 14px;
}